*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #FEF9E7;
}

.navbar{
    background-color: #865439;
}

.nav_menu{
    display: flex;
}

.nav_menu img{
    width: 125px;
    padding-left: 20px;
}

.nav_menu ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

.nav_menu li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px 10px 0px;
}

.nav_menu li a {
    display: block;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #D7B19D;
}

.nav_menu li a:hover {
    color: white;
} 

.spacer{
    height: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.counter{
    height: 300px;
    background-color: #9C640C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}