*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEF9E7;
}

.navbar{
    background-color: #9C640C;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    align-items: start;

}

.nav_menu img{
    width: 125px;
    padding-left: 20px;
}

.nav_menu ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

.nav_menu li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px 10px 0px;
}

.spacer{
    height: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.counter{
    height: 300px;
    background-color: #9C640C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}