*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #FEF9E7;
}

h2{
    color: #402218;
}

/* navigation bar */
.navbar{
    background-color: #865439;
}

.nav_menu{
    display: flex;
}

.nav_menu img{
    width: 125px;
    padding-left: 20px;
}

.nav_menu ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

.nav_menu li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px 10px 0px;
}

.nav_menu li a {
    display: block;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #D7B19D;
}

.nav_menu li a:hover {
    color: white;
} 
/* navigation bar END */

.spacer{
    height: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.counter{
    height: 200px;
    background-color: #865439;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row1{
    font-size: 18px;
    font-weight: bold;
    color: #D7B19D;
}

.row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col img{
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
/* home page END */

/* study room START */
.header {
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.playlists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlists ul li a{ 
    color: #402218;
}